<table align="center" width="100%">
	<tr>
	<% @categories.each_with_index do |category, index| %>
		<td>
		<% str_xml = render "categories_chart/chart.builder", {:category => category} %> 
		<% render_chart '/FusionCharts/FCF_Pie3D.swf' , '' , 
										str_xml , "#{category.name}" ,  380 ,  220 ,  false ,  false do -%>
		<%  end -%>
		</td>
		<% if index.odd? %>
			</tr>
			<tr>
		<% end %>
	<% end %>
</table>

