<h1>Novo item</h1>

<%= render :partial => 'form', :locals => {:category => @category, 
																					 :subcategory => @subcategory, 
																					 :item => @item} %>
<%= link_to 'Voltar', categories_path %>

